body{ 
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #D7D7D7;
	color: black;
	max-height: 150px;
	max-width: none;
	margin-top: 10px;
}

.homebtn{
	text-align: right;
	text-decoration: underline;
	color: black;
	margin-top: 20px;
	top: -20px;

}

.homebtn:hover {
	color:  white;
}


div {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
}

img {
	width: 400px;
	height: 500px;
}

.block1 {
	margin-left: 200px;
	margin-right: 200px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-top: 30px;
}

.discover-button {
	text-decoration: none;
	background-color:gray;
	color: white;
	width: 320;
	border-style: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.discover-button:hover {
	background-color: white;
	color: gray;
}

h1 {
	color: black;
	text-align: left;
}

h2 {
	padding-top: 300px;
	vertical-align: 80px;
	text-align: center;
}

.block2 {
	margin-left: 300px;
	margin-right: 100px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}

.img2 {
	position: relative;
	top: -200px;
	width: 350px;
	height: 370px;
}

.img3 {
	position: relative;
	top: -60px;
	width: 250px;
	height: 250px;
	right: -50px;
}

h3 {
	padding-top: 250px;
	text-align: left;
	margin-right: 650px;
}

.block3 {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 100px;
	padding-bottom: 15px;
}

h4 {
	text-align: center;
	margin-top: 100px;
	margin-left: 450px;	
}

p.block3 {
	margin-top: -20px;
	margin-left: 450px;
	margin-right: 50px;
}

.shopbtn {
	text-decoration: none;
	background-color:gray;
	color: white;
	width: 320;
	border-style: solid;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	top: : 30px;
	margin-left: 130px;
}

.shopbtn:hover {
	background-color: white;
	color: gray;
}

.grid-collection {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap:10px ;
	background-color: white;
	margin-right: 100px;
	margin-left: 100px;
}

.collection_image {
	width: 300px;
	height: 400px;
	object-fit: cover;
}

.subscription {
	background-color:#D7D7D7 ;
	color: black;
	line-height: 40px auto;
}

.signup{
	background-color: #D7D7D7;
	color: black;
	width: none;
	height: 40px auto;
}

h5 {
	text-align: center;
}

.footer { 
	background-color: darkgray;
	color: white;
	width: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
 }

h6 {
 	font-size: 30px;
 	text-align: center;
 	line-height: 20px;
 }

 p.footer {
 	text-align: center;
 }

.img4 {
	width: 300px;
	height: 320px;
	left: -400px;
	bottom: -200px;
}

.img5 {
	width: 230px;
	height: 230px;
	left: -400px;
	bottom: -200px;
}

@media (max-width: 576px) {
  div {
    width: 55%;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {

}